.container {
  margin-top: 2rem ! important;
}
.jumbotron {
  background-color: royalblue ! important;
  color: white ! important;
}
h1{
	text-align: center;
	font-size:2em;
	font-family: sans-serif;
	font-weight: bold;
	margin:.3em ;
	border:.1em dotted #F0F0F0;
	border-radius: 1em;
	padding: .5em;
	cursor:pointer;
}
.lead {
  font-size: 3rem;
}
svg{
	display: block;
	margin:auto;
}
div#messageBox{
	display: none;
  opacity: 0.7;
	width:11em;
	height:4em;
	position:absolute;
	top:230px;
	left:100px;
	border-radius: 3px;
  color: #fff;
	background-color: #000;
}
